# Limpeza de Dados do Dataset dos Construtores

In [2]:
# Import das bibliotecas

import pandas as pd

In [3]:
df = pd.read_csv('../data/constructors.csv')
df.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [4]:
df.dtypes

constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [5]:
# Verificando valores ausentes
df.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [6]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality, url]
Index: []

In [7]:
# Verificação de registros duplicados apenas da coluna 'constructorId'
df[df.duplicated(subset=['constructorId'] ,keep=False)]

Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality, url]
Index: []

In [8]:
# Verificação de registros duplicados apenas da coluna 'constructorRef'
df[df.duplicated(subset=['constructorRef'] ,keep=False)]

Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality, url]
Index: []

In [9]:
# Verificação de registros duplicados apenas da coluna 'name'
df[df.duplicated(subset=['name'] ,keep=False)]

Empty DataFrame
Columns: [constructorId, constructorRef, name, nationality, url]
Index: []

Não foi encontrado nenhum registro duplicado.

## Análise da Variável `nationality`

In [13]:
df['nationality'].value_counts()

British          86
American         39
Italian          30
French           13
German           10
Japanese          5
Swiss             5
South African     3
Dutch             3
Canadian          2
Malaysian         2
Russian           2
Hong Kong         1
Irish             1
Mexican           1
Indian            1
Australian        1
New Zealander     1
Austrian          1
Rhodesian         1
Belgian           1
East German       1
Spanish           1
Brazilian         1
Name: nationality, dtype: int64

Não foi identificado nenhuma inconsistência nos dados de nacionalidades das equipes construtoras.

## Salvando o Dataset Tratado

In [14]:
df.to_csv('../data_cleaned/constructors.csv', index=False)