# Limpeza de Dados do Dataset das Classificações dos Construtores

In [25]:
# Import das bibliotecas

import pandas as pd

In [26]:
# Lendo o arquivo csv
df = pd.read_csv('../data/constructor_standings.csv', na_values=["\\N"])
df.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [27]:
df.dtypes

constructorStandingsId      int64
raceId                      int64
constructorId               int64
points                    float64
position                    int64
positionText               object
wins                        int64
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [28]:
# Verificando valores ausentes
df.isnull().sum()

constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [29]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [constructorStandingsId, raceId, constructorId, points, position, positionText, wins]
Index: []

In [30]:
df[df.duplicated(subset=['constructorStandingsId'] ,keep=False)]

Empty DataFrame
Columns: [constructorStandingsId, raceId, constructorId, points, position, positionText, wins]
Index: []

Não foi encontrado nenhum registro duplicado.

## Análise Descritiva das Variáveis Numéricas

In [31]:
# Resumo estatístico das variáveis numéricas
df.describe()

,constructorStandingsId,raceId,constructorId,points,position,wins
count,13391.000000,13391.000000,13391.000000,13391.000000,13391.000000,13391.000000
mean,16982.110821,535.399821,49.603390,37.178515,7.226047,0.697409
std,8868.446172,307.705928,61.213953,84.346048,4.355923,1.879569
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,8883.500000,302.000000,6.000000,0.000000,4.000000,0.000000
50%,20634.000000,508.000000,25.000000,7.000000,7.000000,0.000000
75%,25047.500000,740.000000,58.000000,33.000000,10.000000,0.000000
max,28982.000000,1144.000000,215.000000,860.000000,22.000000,21.000000

Observando a análise estatística acima não foram identificadas inconsistências em nenhuma variável.

## Salvando o Dataset Tratado

In [32]:
df.to_csv('../data_cleaned/constructor_standings.csv', index=False)