# Limpeza de Dados do Dataset das Classificações dos Pilotos

In [25]:
# Import das bibliotecas

import pandas as pd

In [26]:
# Lendo o arquivo csv
df = pd.read_csv('../data/driver_standings.csv', na_values=["\\N"])
df.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [27]:
df.dtypes

driverStandingsId      int64
raceId                 int64
driverId               int64
points               float64
position               int64
positionText          object
wins                   int64
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [28]:
# Verificando valores ausentes
df.isnull().sum()

driverStandingsId    0
raceId               0
driverId             0
points               0
position             0
positionText         0
wins                 0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [29]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [driverStandingsId, raceId, driverId, points, position, positionText, wins]
Index: []

In [30]:
df[df.duplicated(subset=['driverStandingsId'] ,keep=False)]

Empty DataFrame
Columns: [driverStandingsId, raceId, driverId, points, position, positionText, wins]
Index: []

Não foi encontrado nenhum registro duplicado.

## Análise Descritiva das Variáveis Numéricas

In [31]:
# Resumo estatístico das variáveis numericas
df.describe()

,driverStandingsId,raceId,driverId,points,position,wins
count,34863.000000,34863.000000,34863.000000,34863.000000,34863.000000,34863.000000
mean,43176.154232,584.413562,316.932909,14.704423,19.716720,0.277343
std,21934.276898,292.275820,274.665660,38.978094,16.293401,1.032618
min,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,19834.500000,354.000000,88.000000,0.000000,8.000000,0.000000
50%,50044.000000,603.000000,223.000000,1.000000,16.000000,0.000000
75%,62054.500000,805.000000,521.000000,10.000000,26.000000,0.000000
max,73270.000000,1144.000000,862.000000,575.000000,108.000000,19.000000

Observando a análise estatística acima não foram identificadas inconsistências em nenhuma variável.

## Salvando o Dataset Tratado

In [32]:
df.to_csv('../data_cleaned/driver_standings.csv', index=False)