# Limpeza de Dados do Dataset dos Tempos de Volta

In [18]:
# Import das bibliotecas

import pandas as pd

In [19]:
# Lendo o arquivo csv
df = pd.read_csv('../data/lap_times.csv', na_values=["\\N"])
df.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [20]:
df.dtypes

raceId           int64
driverId         int64
lap              int64
position         int64
time            object
milliseconds     int64
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

A coluna `time`, que representa valores de tempo no formato `%H:%M:%S`, está definida como `object`, porém essa coluna é usada apenas para fins de exibição do tempo. As operações matemáticas serão realizadas utilizando a coluna `milliseconds`, que representa a mesma informação só que me milisegundos.

## Identificando Dados Ausentes

In [21]:
# Verificando valores ausentes
df.isnull().sum()

raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [22]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [raceId, driverId, lap, position, time, milliseconds]
Index: []

In [23]:
# Verificação de registros duplicados
df[df.duplicated(subset=['raceId', 'driverId', 'lap'] ,keep=False)]

Empty DataFrame
Columns: [raceId, driverId, lap, position, time, milliseconds]
Index: []

Não foi encontrado nenhum registro duplicado.

## Salvando o Dataset Tratado

In [24]:
df.to_csv('../data_cleaned/lap_times.csv', index=False)