## Limpeza de Dados do Dataset dos Pit Stops

In [51]:
# Import das bibliotecas

import pandas as pd

In [52]:
# Lendo o arquivo csv
df = pd.read_csv('../data/pit_stops.csv', na_values=["\\N"])
df.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [53]:
df.dtypes

raceId           int64
driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [54]:
# Verificando valores ausentes
df.isnull().sum()

raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [55]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []

In [56]:
# Verificação de registros duplicados
df[df.duplicated(subset=['raceId', 'driverId', 'stop'] ,keep=False)]

Empty DataFrame
Columns: [raceId, driverId, stop, lap, time, duration, milliseconds]
Index: []

Não foi encontrado nenhum registro duplicado.

## Salvando o Dataset Tratado

In [57]:
df.to_csv('../data_cleaned/pit_stops.csv', index=False)