# Limpeza de Dados do Dataset das Qualificatórias

In [12]:
# Import das bibliotecas

import pandas as pd

In [13]:
# Lendo o arquivo csv
df = pd.read_csv('../data/qualifying.csv', na_values=["\\N"])
df.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [14]:
df.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [15]:
# Verificando valores ausentes
df.isnull().sum()

qualifyId           0
raceId              0
driverId            0
constructorId       0
number              0
position            0
q1                156
q2               4647
q3               6865
dtype: int64

Os dados ausentes na colunas `q1`, `q2` e `q3` são esperados, tendo em vista o formato das qualificatórias da Fórmula 1.

## Identificando Dados Duplicados

In [16]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3]
Index: []

In [17]:
# Verificação de registros duplicados apenas da coluna 'qualifyId'
df[df.duplicated(subset='qualifyId' ,keep=False)]

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3]
Index: []

Não foi encontrado nenhum dado duplicado.

## Salvando o Dataset Tratado

In [18]:
df.to_csv('../data_cleaned/qualifying.csv', index=False)