# Limpeza de Dados do Dataset da Temporadas

In [14]:
# Import das bibliotecas

import pandas as pd

In [15]:
# Lendo o arquivo csv
df = pd.read_csv('../data/seasons.csv', na_values=["\\N"])
df.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [16]:
df.dtypes

year     int64
url     object
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [17]:
# Verificando valores ausentes
df.isnull().sum()

year    0
url     0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [18]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [year, url]
Index: []

In [19]:
# Verificação de registros duplicados apenas da coluna 'year'
df[df.duplicated(subset=['year'], keep=False)]

Empty DataFrame
Columns: [year, url]
Index: []

Não foi encontrado nenhum registro duplicado.

## Análise Descritiva da Variável `year`

In [20]:
df['year'].describe()

count      75.000000
mean     1987.000000
std        21.794495
min      1950.000000
25%      1968.500000
50%      1987.000000
75%      2005.500000
max      2024.000000
Name: year, dtype: float64

Observando a análise estatística acima não foram identificadas inconsistências na variável.

## Salvando o Dataset Tratado

In [21]:
df.to_csv('../data_cleaned/seasons.csv', index=False)