# Limpeza de Dados do Dataset dos Status

In [12]:
# Import das bibliotecas

import pandas as pd

In [13]:
# Lendo o arquivo csv
df = pd.read_csv('../data/status.csv', na_values=["\\N"])
df.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [14]:
df.dtypes

statusId     int64
status      object
dtype: object

Os tipos das colunas não apresentam nenhuma inconsistência.

## Identificando Dados Ausentes

In [15]:
# Verificando valores ausentes
df.isnull().sum()

statusId    0
status      0
dtype: int64

Nenhum valor ausente identificado.

## Identificando Dados Duplicados

In [16]:
# Verificação de registros duplicados
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [statusId, status]
Index: []

In [17]:
# Verificação de registros duplicados apenas da coluna 'statusId'
df[df.duplicated(subset=['statusId'], keep=False)]

Empty DataFrame
Columns: [statusId, status]
Index: []

In [18]:
# Verificação de registros duplicados apenas da coluna 'status'
df[df.duplicated(subset=['status'], keep=False)]

Empty DataFrame
Columns: [statusId, status]
Index: []

Não foi encontrado nenhum registro duplicado.

## Salvando o Dataset Tratado

In [19]:
df.to_csv('../data_cleaned/status.csv', index=False)